<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITwoWayAsync" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://aesbts/UniversalBankBizTalkBrokerService/AccountInfoBroker.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
                contract="BizTalkServiceReference.AccountInfoBroker" name="BasicHttpBinding_ITwoWayAsync" />
        </client>
    </system.serviceModel>
</configuration>