<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPaymentsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:45323/PaymentsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentsService"
                contract="PaymentsService.IPaymentsService" name="BasicHttpBinding_IPaymentsService" />
        </client>
    </system.serviceModel>
</configuration>