<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings><add key="AES.UniversalBank.Messaging.BrokerProcess.CustomerService.CustomerService" value="http://localhost:30111/CustomerService.svc"/><add key="AES.UniversalBank.Messaging.BrokerProcess.AccountService.AccountService" value="http://localhost:28958/AccountService.svc"/><add key="AES.UniversalBank.Messaging.BrokerProcess.LoanService.LoanService" value="http://localhost:29156/LoanService.svc"/><add key="AES.UniversalBank.Messaging.BrokerProcess.PaymentService.PaymentsService" value="http://localhost:45323/PaymentsService.svc"/></appSettings></configuration>
