@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p class="lead">Patrones de Software - Proyecto Final</p>
<p>Integrantes:</p>
<ul>
    <li>Diana Torres</li>
    <li>Alejandro Figueroa</li>
    <li>Andres Vega</li>
</ul>
