@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Universal Bank</h1>
    <p class="lead">An integrated, online financial portal</p>
    <p>View all of your financial assets at once, execute all of your financial transactions including those associated with savings
    and checking accounts, loans, stock trading, domestic and international bill
    payment and funds transfer.</p>
    <p>@Html.ActionLink("Ingresar", "Index", "AccountInfo", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cuentas</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        @Html.ActionLink("Ver Cuentas", "Index", "Accounts", null, new { @class = "btn btn-primary btn-sm" })
    </div>

    <div class="col-md-4">
        <h2>Pagos automaticos</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        @Html.ActionLink("Ver Pagos", "Index", "Payments", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>